
* {
    margin-top: 0 !important;
}

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../font/BebasNeue-Regular.ttf");
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: #fbab60 !important;  
}

/* navegador + footer */
/* navegador */

nav{
    padding-top: 0% !important;
    padding-bottom:0 !important; 
}

.detallesNav {
    border-bottom: 2px black solid;
    background-color: #c71916;;
}

.detallesNav img {
    width: 20%;
    height: 27%;

}

.nav-item{
    color:white;
}

/* fin nav*/


/* footer */

footer {
    background-color: #c71916;
    color: white;
    font-family: "BebasNeue-Regular";
    letter-spacing: 1px;
    border-top: 2px black solid;
}
.boom{
    font-weight: bolder;
    margin-left: 2px;
}

footer a img {
    width: 7%;
    height: 15%;
    display: inline;
    padding: .2px;
    align-items: center;
}


footer p {
    text-align: right;
    font-weight: lighter;
    word-spacing: 1px;
    line-height: 10%;
    font-size: 10px;
}

.footerDtos{
    padding: 10px;
}
/*fin footer*/

/*mensaje bienvenida*/

.bienvenida{
    margin:1px; 
    padding: 10px;
    font-weight: bolder; 
}

/*fin mensaje bienvenida*/ 







/*botones*/
/*
.botones {
    text-decoration: none;
    background-color: #c71916;
    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;
    text-align: center;
    display: flex;
    padding: 4px;
    align-content: center;
}

.botones a {
    color: white;
    font-family: "BebasNeue-Regular";
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}
*/
/*finaliza botones 

