$color-letras:white;

$li:none;

$body:radial-gradient(#fbab60, #f88922);

$light: lighter;

$enlinea: inline;

$card-bg:#A25114;
$card-text:#DDECEE;

$size:1200px;

$sm:567px;
$md:768px;
$lg:992px;


$color-redes: (facebook:#00acee, instagram:#dd2a7b);
