@import 'navegador';
@import 'variables';
@import 'mixins';


body {
    background-image: $body;
}


/* navegador */
nav {
    border-bottom: $borde;
    background-color: $fondo-nav;


    img {
        width: 30%;
        height: 90%;
        text-align: right;
    }

    p {
        font-size: 150%;
        display: $enlinea;
        font-weight: bold;
    }

    button{
        margin-top: 2%;
        padding: 1%;
    }

    li {
        text-decoration: $li;
        font-weight: bolder;
        display: $enlinea;
    }
}

/* fin navegador */


/* footer */

footer {
    background-color: $fondo-nav;
    color: $color-letras;
    letter-spacing: 1px;
    border-top: $borde;



    .boom {
        font-weight: bold;
        margin-left: 5px;
        margin-bottom: 5px;
        line-height: 100%;
        font-size: 150%;
    }

    a img {
        @include sizes(20px, 20px);
        display: inline;
        padding: .2px;
    }

    .footer {
        margin-left: 7%;
        padding: 0;
    }

    .footerDatos {
        margin-top: 5%;
    }

    p {
        text-align: right;
        line-height: 10%;
        font-size: small;
    }

    .separacion {
        line-height: 100%;
    }
}

/* fin footer */


/* index */

.carouseL {
    @if $size==sm {
        width: 100vw;
    }

    @else if $size==md {
        width: 100vw;
    }

    @else {
        width: 100vw;
    }

    img {
        justify-content: center;
    }
}

.bienvenida {
    margin: 15px;
    padding: 20px;
    font-weight: bolder;
    display: flex;
    text-align: center;
    justify-content: center;

    p {
        font-size: 325%;
    }

    button {
        margin-top: 5%;
    }

    .botoneSlider{
        display: flex;
        justify-content: center;
    }
}

/* fin index */

/* menu */

main {
    padding: 5% 10%;

    .bienvenidaMenu{
        font-size: 100px;
    }

    .tituloCard{
        font-size: 40px;
    }

    .detallesCards {
        background-color: $fondo-nav;
        border: $borde;
    }

    .col {
        padding-top: 6%;
    }

    .font{
        font-size: 30px;
    }
}

/* fin menu */


/* promociones */

.tarjetasPromos {
    padding: 10px;

    .detallesCards {
        background-color: $fondo-nav;
        border: $borde;
    }

    img {
        padding: 3px;
    }

    img:hover {
        transform: translate(0, 25px);
        transition: all 1s;
    }
}

/* fin promociones */


/* novedades */

.tarjetasNovedades {
    padding: 5px;

    .novedades img {
        padding: 5px;
    }

    .detallesCards {
        background-color: $fondo-nav;
        border: $borde;
    }
}

.flexible {
    display: flex;
}


@each $red,
$valor in $color-redes {
    .btn--#{$red} {
        background-color: $valor;
    }
}




/* fin novedades */

/* formulario */

.contacto {

    .tituloFormulario {
        margin-top: 2%;
    }

    .formulario {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: $fondo-nav;
        border: $borde;
        margin: 8vh;
    }

    .boton {
        margin: 2%;
    }
}








/* breakpoints */


@media screen and (min-width: 768px) {

/*navegador */
    .nav {
        display: flex;

        img {
            width: 20%;
            height: 90%;
            margin-bottom: 2%;
        }

        p {
            font-size: 150%;
            font-weight: bold;
        }

        button {
            width: 10vw;
            height: 10vh;
            margin-top: 5vw;
        }

        .liItems {
            justify-content: left;
        }

        li {
            text-decoration: $li;
            font-weight: medium;
        }
    }
/*fin nav */

/* footer*/
    footer {
        .boom {
            margin-left: 10px;
            margin-bottom: 10px;
            line-height: 90%;
            font-size: 250%;
        }

        a img {
            @include sizes(40px, 40px);
            display: inline;
            padding: .2px;
        }

        .footer {
            margin-left: 12%;
        }

        .footerDatos {
            margin-top: 2.5%;
            margin-right: 2%;
        }
    }
/* footer */

/* pagina index */
    .bienvenida p {
        font-size: 5rem;
    }

    .bienvenida {

        p {
            font-size: 600%;
        }

        button:hover {
            transform: scale(1.5, 1.5);
            transition: all 1s;
        }
    }
/* fin pagina index */

main {
    padding: 5%;

    .detallesCards {
        background-color: $fondo-nav;
        border: $borde;
    }

    .font{
        font-size: 22px;
    }

    button:hover {
        transform: scale(1.5, 1.5);
        transition: all 1s;
    }
}

/* fin pagina menu */

}


@media screen and (min-width: 992px) {
    /* navegador */
    .nav {
        display: inline;
        align-items: center;
        margin: 0;
        height: 20vh;

        img {
            width: 30%;
            height: 100%;
            margin-bottom: 5vh;
        }

        p {
            font-size: 500%;
        }


        .liItems {
            display: flex;
            justify-content: right;
            justify-content: space-around;
            margin-bottom: 3.5vh;
        }

        li {
            font-size: 125%;
            
        }
    }

    /* fin navegador */

    /* footer */

    footer {

        .boom {
            margin-left: 10px;
            margin-bottom: 10px;
            line-height: 90%;
            font-size: 250%;
        }

        a img {
            @include sizes(40px, 40px);
            display: inline;
            padding: .2px;
        }

        .footer {
            margin-left: 12%;
        }

        .footerDatos {
            margin-top: 2.5%;
            margin-right: 2%;
        }
    }

    /* fin footer */

    /* pagina index */

    .bienvenida {
        font-weight: bolder;
        display: flex;
        text-align: center;
        justify-content: center;
    
        p {
            font-size: 500%;
        }
    
    
        button:hover {
            transform: scale(1.5, 1.5);
            transition: all 1s;
        }
    }
    

    /* fin pagina index */

    /* pagina menu */

    main {
        padding: 5%;
    
        .detallesCards {
            background-color: $fondo-nav;
            border: $borde;
        }

        .tituloCard{
            font-size: 40px;
        }
        .font{
            font-size: 15px;
        }
    
        .bienvenida p {
            font-size: 4rem;
        }
    

    }

    /* fin pagina menu */

}